/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* NM Style */

body {
	font-family: brother-1816, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #FFFFFF;
	background-color: #111111;
	background-image: url("../images/background/bg-image.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	font-size: 0.95em;
	line-height: 1.3;
}

i {
	font-style: italic;
}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

header { 
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	padding: 1em 1.25em;
	border-bottom: 1px solid #FFFFFF;
}

footer {
	font-size: 0.85rem;
	padding: 1.5em;
	border-top: 1px solid #FFFFFF;
	background-color: #1e1e1e;
	display: flex;
	justify-content: space-between;
	margin-top: 8em;
}

footer .bc-logo {
	width: 11em;
}

footer #footer-text {
	width: calc(100% - 18em);
	display: flex;
}

footer .col-2 {
	width: 50%;
	padding-right: 2em;
}

p {
	margin-bottom: 1em;
}

header .bc-logo {
	display: block;
	width: 22em;
}

hr#spacer {
	opacity: 0;
}

#intro-background {
	width: 100vw;
	height: calc(100vh + 1px);
	border-bottom: 1px solid #FFFFFF;
	z-index: -1;
}

#intro-background img {
	position: absolute;
	left: 50%;
 -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
     -ms-transform: translate(-50%);
      -o-transform: translate(-50%);
         transform: translate(-50%);
}

#intro-background #logo {
	width: 55%;
	max-height: 50vh;
	top: 25vh;
}

#intro-background #title {
	max-height: 4.5vh;
	width: 40%;
	bottom: 2em;
}

#intro-video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100vw; 
  min-height: 100vh;
  max-width: 160vw;
  max-height: 150vh;
  z-index: -1;
  filter: grayscale(100%) brightness(0.45);
}

@media (max-aspect-ratio: 1/1) {

#intro-video {
  max-width: 350vw;
}

}

@media (min-aspect-ratio: 2/1) {

#intro-video {
	max-height: 400vh;
}

}

#gallery {
	display: flex;
	align-items: start;
	position: relative;
}

#gallery-controls {
	cursor: pointer;
	position: relative;
	z-index: 10;
	text-align: right;
	padding-right: 2em;
	height: 2em;
}

#gallery-controls span {
	margin-left: 1em;
	border-bottom: 1px solid #888888;
	margin-bottom: 1em;
}

#gallery-controls span:hover {
	border-bottom: none;
}

.sliderContainer {
	position: relative;
	width: 50%;
	margin: 0 auto;
	margin-top: 4em;
	overflow: hidden;
}

.sliderContainer div:first-child {
	position: relative;
	left: 0%;
	top: 0;
}

.gallery-image {
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 2em;
}

.gallery-image img {
	max-height: 80vh;
	width: 100%;
	height: auto;
	position: relative;
}

.caption {
	font-size: 0.65em;
	letter-spacing: 0.03em;
	width: 100%;
	text-align: left;
	padding-top: 2em;
}

#gallery-text {
	width: 50%;
	font-size: 1.4em;
	padding: 4em;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

@media (min-aspect-ratio: 2/1) {

#gallery-text {
	font-size: 1.2em;
}

}

#tags {
	margin-top: 10em;
	padding-bottom: 8em;
}

#prompt-tag {
	width: 90%;
	margin: 0 auto;
	margin-bottom: 10em;
}

@keyframes rotate {
    100% { 
	 -webkit-transform: rotate(-8deg);
	    -moz-transform: rotate(-8deg);
	     -ms-transform: rotate(-8deg);
	      -o-transform: rotate(-8deg);
	         transform: rotate(-8deg);
    }
}

.rotation {
  animation: rotate 1000ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#prompt-text {
	font-size: 1.4em;
	text-align: left;
	width: 25em;
	margin: 0 auto;
	margin-bottom: 8em;
}

#tag-grid {
	margin: 0;
	padding: 0 1em;
	width: 100%;
	float: left;
	clear: both;
}

#tag-grid.has-results {
	position: relative;
	top: -9.25em;
}

.tag-wrapper {
	width: 50%;
	margin-bottom: -2em;
	text-align: center;
	cursor: pointer;
	position: relative;
	background-image: url('../images/tags/tag-background.svg');
	-webkit-transition: opacity 0.15s ease-out;
	   -moz-transition: opacity 0.15s ease-out;
	     -o-transition: opacity 0.15s ease-out;
	        transition: opacity 0.15s ease-out;
}

#tag-grid div.tag-wrapper.search-visible {
	left: 50%;
	float: none !important;
	margin-bottom: 1em !important;
}

.tag-wrapper img {
	width: 80%;
	margin-left: -4%;
}

.transcription p {
	padding: 1em;
	padding-top: 0.25em;
	width: 100%;
	cursor: auto;
	margin-bottom: 0;
}

.transcription {
	font-size: 1.4vw;
	line-height: 1.15;
	text-align: center;
	color: #FFFFFF;
	padding: 0 3em 0 2em;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-image: url('../images/tags/tag-background-gray.svg');
	background-repeat: no-repeat;
	aspect-ratio: 4/1;
	-webkit-transition: opacity 0.15s ease-out;
	   -moz-transition: opacity 0.15s ease-out;
	     -o-transition: opacity 0.15s ease-out;
	        transition: opacity 0.15s ease-out;
}

.tag-wrapper:hover .transcription {
	opacity: 1;
}

#tag-grid div:nth-of-type(odd) {
	float: left;
	clear: both;
}

#tag-grid div:nth-of-type(even) {
	float: right;
	clear: both;
}

input#search {
	font-family: brother-1816, sans-serif;
	color: #FFFFFF;
	font-size: 1.4em;
	border: 1px solid #FFFFFF;
	background: transparent;
	border-radius: 0;
	padding: 0.5em 2em 0.5em 1em;
	width: 15em;
	margin-left: 1em;
	margin-bottom: 4em;
	position: relative;
	z-index: 9;
	box-sizing: border-box;
}

input#search::placeholder {
	color: #CCCCCC;
}

button#clear-search {
	cursor: pointer;
	background: transparent;
	color: #CCCCCC;
	border: 0;
	padding: 0;
	font-size: 1.6em;
	position: relative;
	z-index: 99;
	left: -1.35em;
}

#no-results {
	font-size: 1.4em;
	display: none;
	width: 100%;
	padding: 0.5em 1em;
	position: relative;
	top: -3em;
}

@media (max-width: 1200px) {

#gallery-text {
	padding: 2em;
}

}

/* Single Column Layout */

@media (max-width: 1000px) {

#intro-background #logo {
	width: 80%;
}

#intro-background #title {
	width: 70%;
	bottom: 2em;
}

#gallery {
	flex-direction: column-reverse;
	height: auto;
	margin-bottom: 8em;
}

#gallery-text {
	width: 100%;
	max-width: 35em;
	padding: 0 3em;
	margin: 0 auto;
	margin-top: 5em;
	margin-bottom: 0;
	padding-bottom: 1em;
}

.caption {
	font-size: 0.25em;
	padding-top: 4em;
}

.sliderContainer {
	width: 100%;
	height: 100%;
}

.gallery-image {
	padding-top: 1em;
}

.gallery-image img {
	position: static;
	 -webkit-transform: translateY(0);
	    -moz-transform: translateY(0);
	     -ms-transform: translateY(0);
	      -o-transform: translateY(0);
	         transform: translateY(0);
}

#prompt-text {
	width: 100%;
	max-width: 35em;
	padding: 0 3em;
	margin-bottom: 4em;
}

#search-wrapper {
	text-align: center;
}

input#search {
	margin-left: 0;
	margin-bottom: 2em;
}

#tags {
	margin-top: 5em;
}

#prompt-tag {
	margin-bottom: 8em;
}

#tag-grid {
	padding: 0 0.65em 0 1em;
}

#tag-grid.has-results {
	top: 0;
}

#tag-grid div:nth-of-type(odd),
#tag-grid div:nth-of-type(even) {
	float: none;
	margin-bottom: 1em;
	width: 100%;
}

#tag-grid div.tag-wrapper.search-visible {
	left: 0;
	float: none !important;
	margin-bottom: 1em !important;
}

.transcription {
	font-size: 2.5vw;
}

#no-results {
	text-align: center;
}

footer {
	display: block;
}

footer #footer-text {
	margin-top: 4em;
	width: 100%;
}

}

@media (max-width: 500px) {

header .bc-logo {
	display: block;
	margin: 0 auto;
	width: 90%;
}

#intro-background #logo {
	width: 90%;
	top: 35vh;
}

#gallery-text {
	margin-top: 3em;
}

.sliderContainer {
	margin-top: 1em;
}

#gallery-text,
#prompt-text {
	font-size: 1em;
	padding: 0 1em;
}

.gallery-image {
	padding: 1em;
}

.caption {
	padding-top: 2em;
}

#prompt-tag {
	margin-bottom: 5em;
}

#search-wrapper {
	width: 100%;
	padding: 0;
}

input#search {
	width: 80%;
	margin-left: 0.75em;
	margin-bottom: 2em;
}

footer #footer-text {
	display: block;
}

footer .col-2 {
	width: 100%;
	padding-right: 0;
}


}



